
body {
    background: whitesmoke;
}
.user_form {
    background: white;
    box-shadow: 0px 0px 10px lightgray;
}
.user_form .form_label {
    color: #233f78
}
.slider_text {
    margin: 5px 10px;
}
.text-blue {
    color: #233f78;
}
.form_group {
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 4px
}
.history_container {
    background: white;
    box-shadow: 0px 0px 10px lightgray;
}